@model IEnumerable<BuroFactor.Models.dao.financiera>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Financieras</h2>

<p>
    @Html.ActionLink("Registrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Persona
        </th>
        <th>
            Razon Social
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.persona.RFC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.persona.RazonSocial)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idFinanciera }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idFinanciera }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idFinanciera })
        </td>
    </tr>
}

</table>
